<!doctype html>
<html lang="en-US">
  <head>
    <title>BCF Smashrun</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <!--script src="/javascripts/jquery-3.1.0.js"></script-->
    <!--script src="/javascripts/application.js"></script-->
  </head>
  <body>
    <header>
      <h1><a href='/'>BCF Smashrun</a></h1>
      <div id="menu">
        <ul>
          <li class=<%= "selected" if session[:selected_menu_item] == :overview %>>
            <a href='/overview'>OVERVIEW</a>
          </li>
          <li class=<%= "selected" if session[:selected_menu_item] == :runs %>>
            <a href='/runs'>ALL RUNS</a>
          </li>
          <li class=<%= "selected" if session[:selected_menu_item] == :add_run %>>
            <a href='/add_run'>ADD RUN</a>
          </li>
        </ul>
      </div>
    </header>

    <div id="flash-region">
      <% if session[:msg] %>
        <%= session.delete(:msg) %>
      <% else %>
        <%= session[:sub_heading] %>
      <% end %>

      <%= yield_content :flash_form %>
    </div>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
